.app {
  height: 100vh;
  overflow-y: scroll;
}

.app-header,
.app-footer {
  background: #f0141e;
  background-image: linear-gradient(to left, #6b0c11, #f0141e);
  padding: 20px;
  text-align: center;
}

main {
  min-height: 100vh;
  padding: 25px 0;
}

.app-footer a,
.app-footer a:visited {
  color: #fff;
}

@media screen and (max-width: 450px) {
  .app-header h1 {
    font-size: 150%;
  }

  main {
    padding: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
