.event-detail-container {
  animation: fadeIn .35s;
  background-color: rgba(0, 0, 0, .9);
  bottom: 0;
  display: flex;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.event-detail {
  margin: 10px auto;
  max-width: 1000px;
  padding: 10px;
}

.event-detail-close-button {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 250%;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 10px;
}

.event-detail-header {
  display: flex;
}

.event-detail-header-text {
  margin-left: 20px;
}

.event-detail-header-text a,
.event-detail-header-text a:active,
.event-detail-header-text a:visited {
  background-color: #f0141e;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.event-detail-content {
  display: flex;
  margin: 10px;
}

.event-detail-content section {
  flex: 1;
}

.event-detail-content h4 {
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
}

.event-detail-creators {
  margin: 10px 0;
  padding: 0;
}

.event-detail-creator {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.event-detail-creator strong,
.event-detail-creator span {
  display: block;
}

.event-detail-creator strong {
  text-transform: uppercase;
}

.event-detail-comics {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.event-detail-comic {
  margin: 1px;
}

@media screen and (max-width: 450px) {
  .event-detail {
    max-width: auto;
  }

  .event-detail-header {
    flex-direction: column;
    text-align: center;
  }

  .event-detail-header img {
    display: none;
  }

  .event-detail-content {
    flex-direction: column;
  }

  .event-detail-close-button {
    background-color: #f0141e;
    height: 25px;
    line-height: 1px;
    position: fixed;
    width: 25px;

  }
}
